body {
  background: rgb(2,11,2);
  background: linear-gradient(0deg, rgba(2,11,2,1) 0%, rgba(16,41,7,1) 50%, rgba(24,62,10,1) 100%) no-repeat center center/cover;
  min-height: 100vh;
  padding-top: 20px;
}

.header {
  margin-bottom: 20px;
}

.card-image{
  position:relative;
  overflow:hidden;
  padding-bottom:100%;
}
.card-image img{
  position:absolute;
}